body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

#book-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}
.main-container {
   width: 70%;
    margin: 0 auto;
    padding: 2rem;
   background-color: --white;
}
#books-grid {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
}

        
        /* Disabled/Coming Soon style */
        .coming-soon {
            background-color: #6c757d;
            cursor: not-allowed;
        }
        .coming-soon:hover {
            background-color: #5a6268;
        }
        /* Go Back Button Style */
